.menuactive,
header.menu a:hover,
.menu-dropdown a:hover,
.item-header a:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}
.dropdownItem {
  display: flex !important;
}
.dropdownIyemPosion {
  position: absolute;
}
.brand-item img {
  transition: all 1s;
}
.brand-item:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
